body {
    
}

footer {
    color: white;
    background-color: #383838;
    padding: 25px;
}

footer a {
    color:white;
}

footer a:hover {
    color: #ffd800;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 0px 15px 0px 15px;
}

.content-box {
    margin: 0 0;
    padding: 50px 50px 75px 50px;
}

.jumbotron {
    margin: 0;
}

.jumbotron .container {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    text-align:center;
}

.jumbotron h2 {
    font-size: 4em;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.navbar {
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    border-radius: 0px;
    color: white;
}

#navbar-brand {
    color: white;
}

ul.nav li a {
    color: white !important;
}

.dl-horizontal dt {
    white-space: normal;
}

.center-content {
    margin: 0 auto;
    width: 100%;
    min-width: 400px;
}

#snackbar {
    cursor: pointer;
}

.popover {
    width: 400px;
}
