@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row content-box">
    <div class="col-sm-4">
        photo goes here
    </div>
    <div class="col-sm-8">
        <h2>Finally, a place to call home!</h2>
        <p>
            Victoriamariemusic.com is pleased to bring you the latest updates and inside access to up and coming artist Victoria Marie. Look out for behind the scenes footage of performances, in studio recording her debut EP and the exclusive on the upcoming film premiere of her first Leading Role.
        </p>
    </div>
</div>