@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row content-box">
    <div class="col-sm-8">
        <h2>Most Recent Research</h2>
        <p>
            Short Elevator Pitch
        </p>
    </div>
    <div class="col-sm-4">
        <h2>Blogs</h2>
        <p>
            List of other blogs
        </p>
    </div>
</div>