@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row content-box" id="about">
    <div class="col-sm-12 scroll-reveal">
        <img src="~/img/mariana_shimabukuro_wordcloud.png"/>
    </div>
    <div class="col-sm-8 scroll-reveal">
        <h2>Mariana Shimabukuro</h2>
        <h4>Graduate Studies</h4>
        <p>
            I am a Masters student in Computer Science, and my current project aims to investigate the best method to abbreviate words in order to fit them better in visualizations.

            I have some experience in the industry where I worked with natural language processing (NLP) regarding extraction of named entity recognition (NER) in the context of law cases corpora in portuguese.

            I have also worked with educational technologies applied to introducing programming techniques using robotics. During my undergraduate studies, I joined a group called GISDI, which develops applications for mobile robotics in an educational environment. This environment is taken to schools where programming lessons are given.

            While still in university for my undergraduate degree, I was granted a scholarship by the Brazilian government,  named Science Without Borders. Through this scholarship, I was able to spend my third year of undergraduate studies in Canada at the University of Ontario Institute of Technology – UOIT. As an exchange student, I attained a summer position at vialab and started working on my word abbreviation studies.

            In 2015, I graduated from the University of State of Sao Paulo – UNESP in Brazil with a Bachelor’s degree in Computer Science.

            In my spare time, I like going to the gym; lifting weights, building muscle and doing some HIIT cardio (mostly sprinting). Well, I try to be as fit as I can. Once I am a food lover, I work out hard so I can eat more!
        </p>
    </div>
    <div class="col-sm-4 scroll-reveal">
        <h2>Research</h2>
        <p>
            List some of my research here
        </p>
    </div>
</div>